body{
    background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
    margin: 0px;
    height: 100%;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face{
    font-family: Orbitron;
    src: url(./Orbitron-VariableFont_wght.ttf);
}


.header{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 5%;
    border-bottom: solid rgb(217, 3, 3);
    padding: 1%;
    position: fixed;
    background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
    background-size: cover;
    padding-bottom: 2%;
    height: 15%;
    left: -.5%;
    top: -.5%;
}

.header>.home{
    grid-column-start: 2;
    grid-row-start: 1;
}

.header>.blog{
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 0;
}

.header>.services{
    grid-column-start: 4;
}

.header>.about{
    grid-column-start: 5;
    grid-row-start: 1;
}

.header>.contact{
    grid-column-start: 6;
    grid-row-start: 1;
}

.header>.started{
    grid-column-start: 7;
    grid-row-start: 1;
    background-color: rgb(217, 3, 3);
    color: white;
    border-radius: 5%;
}

.header>a{
    color: white;
    text-decoration: none;
    padding: 4%;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 5%;
        margin: 1em;
    }

    .header>p{
        grid-row-start: 2;
        justify-self: end;
    }
    .info{
        display: grid;
        align-items: center;
        color: white;
        position: fixed;
        margin-top: 5.5%;
        justify-items: center;
        width: 100%;
    }

    .paras{
        display: grid;
        color: black;
        background-color: #b7b7b7;
        border-top: solid #b7b7b7;
        border-bottom: solid rgb(217, 3, 3);
        /* clip-path: polygon(0 100%, 0 3%, 100% 7%, 100% 100%, 50% 100%, 0 110%); */
    }

    .paras>p{
        padding-left: 2%;
        padding-right: 2%;
    }

    .paras>img{
        display: grid;
        max-width: 66%;
        max-height: auto;
    }

    .topbod{
        display: grid;
        align-items: center;
        color: white;
        justify-items: center;
        margin-bottom: -1em;
    }

    /* .logo{
        display: grid;
    } */

    .toplogo{
        margin-top: 10%;
        margin-bottom: 0;
    }

    .topbod>p{
        padding-top: 2%;
    }

    span.logo{
        font-size: xx-large;
        color: #b3b3b3;
        font-family: Orbitron, Arial;
        font-style: italic;
        font-size: xx-large;
        font-weight: 700;
    }

    .topbod>img{
        grid-column-start: 1;
    }

    .midbod{
        display: grid;
        /* background-color: rgb(217, 217, 217); */
        justify-items: center;
        /* grid-template-columns: 1fr 1fr; */
        color: white;
    }

    .midbod>img{
        max-width: 66%;
        max-height: auto;
        padding-bottom: 1%;
    }

    /* .midbod>p{
        color: black;
    } */

    .heading{
        display: grid;
        justify-items: center;
        background-color: rgb(217, 3, 3);
        color: white;
    }

    .lowerbod{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        color: white;
    }

    .lowerbod>.para2{
        grid-column-start: 2;
    }

    .lowerbod>img{
        grid-column-start: 2;
        max-width: 66%;
        max-height: auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .lowerbod>.image2{
        grid-column-start: 1;
        grid-row-start: 2;
        padding-bottom: 3%;
    }

    .bottombod{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        color: white;
    }

    .bottombod>p{
        grid-column-start: 1;
    }

    .bottombod>img{
        grid-column-start: 2;
        max-width: 66%;
        max-height: auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .topfoot{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
        color: white;
    }

    .industries{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        padding: 2%;
        color: white;
        background-color: rgb(179, 179, 179);
        border: solid black;
        height: 13em;
    }

    .industries>img{
        max-width: 75%;
        height: 70%;
        grid-row-start: 2;
    }

    .industries>p{
        font-size: large;
        color: black;
        font-weight: bold;
        justify-items: center;
    }

    .reviews{
        display: grid;
        justify-items: center;
        align-items: center;
        color: white;
        padding: 2%;
        background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
        background-size: cover;
    }

    .reviews>p{
        font-size: x-large;
    }


    .reviews>#industries{
        background-color: rgb(102, 102, 102);
        max-width: 66%;
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 10px;
        padding: 1%;
    }

    footer{
        background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
        background-size: cover;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        color: white;
        border-top: solid rgb(217, 3, 3);
        padding: 2%;
    }

    footer>button{
        width: 100%;
        color: white;
        background-color: black;
        padding-top: 1%;
        padding-bottom: 1%;
        border-color: white;
    }

    footer>p{
        font-size: large;
    }

    form{
        width: 66%;
    }

    fieldset{
        display: grid;
        padding-left: 9%;
        /* grid-template-columns: 1.5fr 2fr 1fr 2fr; */
    }

    fieldset>button{
        margin: 4%;
    }

    label{
        grid-column-start: 1;
        margin: 2%;
    }

    .contactForm{
        display: grid;
        justify-items: center;
        align-items: center;
        color: white;
        padding: 2%;
        background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
        background-size: cover;
        background-position-y: 80%;
    }

    input, textarea{
        background: none;
        border: none;
        border-bottom: solid rgb(217, 3, 3);
        color: white;
    }

    /* label, input, textarea{
        padding-left: 20%;
    } */

    ::placeholder {
        color: red;
        opacity: 1; /* Firefox */
      }


    .mission{
        background-color: rgb(179, 179, 179);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        padding: 2%;
        border-top: solid black;
        border-bottom: solid black;
    }

    .mission>h2{
        margin: 0px;
        color: rgb(217, 3, 3);
    }

    .mission>p{
        color: black;
        font-size: medium;
        margin-top: 0px;
    }

    .solutions{
        color: rgb(217, 3, 3);
        background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
        background-size: cover;
        border-bottom: solid silver;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2%;
    }

    .solutions>h2{
        display: grid;
        align-items: end;
        margin: 0px;
    }

    .solutions>p{
        color: white;
        margin: 0px;
    }

    .solutions>ul{
        color: white;
        font-weight: bold;
    }

    /* Mobile Format */

    /* @media screen and (max-width: 600px){
        body{
            background-image: url(img/Black\ honeycomb\ BG\ RGB.png);
            margin: 0px;
            height: 100%;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
            width: 41em;
        }




        } */
